

.background-header-footer {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4));
}

.bg-user-initial {
  background: linear-gradient(315deg, rgba(63, 6, 34, 0.9), rgba(114, 12, 65, 0.9));
}

::ng-deep .p-tooltip {
  .p-tooltip-text {
    background-color: rgb(114, 12, 65);
  }
}

/* HEADER BUTTONS */
.header-button {
  background-color: rgba(40, 0, 71, 0.8);
  border: 1px solid rgb(68, 0, 121);
  box-shadow: 1px 1px 5px rgb(68, 0, 121);
  transition: background-color 0.25s, color 0.25s, box-shadow 0.4s, transform 0.3s, opacity 0.5s;
}

.header-button:hover {
  box-shadow: 0px 0px 11px rgb(68, 0, 121);
  transform: scale(1.04);
}

.header-button:active {
  transform: translate(1.2px, 1.2px);
}

.header-button-seleccionado {
  background-color: rgba(114, 12, 65, 0.8);
  border: 1px solid rgb(153, 17, 87);
  box-shadow: 1px 1px 5px rgb(153, 17, 87);
  transition: background-color 0.25s, color 0.25s, box-shadow 0.4s, transform 0.3s, opacity 0.5s;
}

.header-button-seleccionado:hover {
  box-shadow: 0px 0px 8px rgb(153, 17, 87);
  transform: scale(1.04);
}

.header-button-seleccionado:active {
  transform: translate(1.2px, 1.2px);
}
/* END HEADER BUTTONS*/

//Contenido

li {
  margin-left: 50px;
}

.lista-higado {
  color: rgb(175, 0, 0);
}

.lista-musculo {
  color:rgb(0, 88, 175);
}

.lista-tejido-adiposo {
  color: rgb(24, 131, 94)
}

p {
  font-size: 1.1rem;
  font-weight: 500;
}

li {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0; //revisar como se ven estos margenes en el monitor
}

ul {
  margin-top: 0; //revisar como se ven estos margenes en el monitor
}

b {
  font-size: 1.1rem;
}