<div class="contenedor-ejercicio">
  <div class="indicaciones">
    <h2 class="titulo-explicacion">Luego de Alimentarse</h2>
    <p>
      A continuación se muestran cinco pares de caminos metabólicos recíprocos.
    </p>
    <p>
      ¿Cuáles son relevantes aquí y qué lado de las opciones ayudaría a
      restaurar los niveles de glucosa a un nivel normal?
    </p>

    <div class="options-container">
      <div class="options-grid">
        <!-- Hígado -->
        <span></span>
        <button
          class="grid-button button-sizing-1 higado-button"
          (click)="medidaActual = medidaActual - 0.5"
        >
          Glucogénesis
        </button>
        <div class="double-arrow higado-color">&#11136;</div>
        <button
          class="grid-button button-sizing-1 higado-button"
          (click)="medidaActual = medidaActual + 0.5"
        >
          Glucogenólosis
        </button>

        <span class="options-title higado-color">Hígado</span>
        <button class="grid-button button-sizing-1 higado-button">
          Gluconeogénesis
        </button>
        <div class="double-arrow higado-color">&#11136;</div>
        <button class="grid-button button-sizing-1 higado-button">
          Glucólisis
        </button>

        <span></span>
        <button class="grid-button button-sizing-1 higado-button">
          Beta-oxidación
        </button>
        <div class="double-arrow higado-color">&#11136;</div>
        <button class="grid-button button-sizing-1 higado-button">
          Síntesis de ácidos grasos
        </button>

        <!-- Músculo -->
        <span class="options-title musculo-color margin-top">Músculo</span>
        <button class="grid-button button-sizing-2 musculo-button margin-top">
          Glucogénesis
        </button>
        <div class="double-arrow musculo-color margin-top">&#11136;</div>
        <button class="grid-button button-sizing-2 musculo-button margin-top">
          Glucogenólosis
        </button>

        <!-- Tejido Adiposo -->
        <span class="options-title tejido-adiposo-color margin-top"
          >Tejido Adiposo</span
        >
        <button
          class="grid-button button-sizing-2 tejido-adiposo-button margin-top"
        >
          Lipólisis
        </button>
        <div class="double-arrow tejido-adiposo-color margin-top">&#11136;</div>
        <button
          class="grid-button button-sizing-2 tejido-adiposo-button margin-top"
          (click)="transition()"
        >
          Lipogénesis
        </button>
      </div>
    </div>
  </div>

  <div class="animacion">
    <div #contenedorBarraImagen class="contenedor-barra-imagen">

      <div #barraLateralMedicion class="barra-lateral-medicion">
        @for (medida of escalaMedidas; track medida) {
          <div class="flecha-medicion">
            <img
              *ngIf="medidaActual == medida"
              class="flecha-nivel"
              [@fadeIn]
              src="images/flecha-derecha.png"
            />
            @if([10, 5, 0].includes(medida)){
              <span>{{ medida + "mg/dl" }}</span>
            } 
            @else {
              <span *ngIf="medidaActual == medida" [@fadeIn]>{{ medida + "mg/dl" }}</span>
            }
          </div>
        }
      </div>
    
      <div class="shadow">
        <div>
          <div class="barra-lateral-top">
            <span>H</span>
            <span>I</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
          </div>

          <div class="centro-barras-laterales"></div>

          <div class="barra-lateral-bottom">
            <span>H</span>
            <span>I</span>
            <span>P</span>
            <span>O</span>
          </div>
        </div>

        <div class="contenedor-imagen">
          <img
            #imagen1
            class="imagen"
            [@imageFade]="fadeImage1"
            src="images/glucosa/estado-2-ajustado-120-derecha.jpeg"
          />
          <img
            #imagen2
            class="imagen-2"
            [@imageFade]="fadeImage2"
            src="images/glucosa/estado-3-ajustado-120-derecha.jpeg"
          />
          <!-- Así con todas las imagenes que hagan falta -->
        </div>
      </div>
    </div>

    <div class="concentracion">
      <span>Concentración de Glucosa: </span><span>10mg/dl</span>
    </div>

    <div class="estado">
      <div class="mensaje-estado">Estado: Hiperglucemia</div>
      <div class="mensaje-alerta">
        <div>Ocurrirán daños si la hiperglucemia continua.</div>
        <div>
          Si los niveles de glucosa exceden el límite renal, esta será
          desperdiciada en la orina.
        </div>
      </div>
    </div>
  </div>
</div>
