.header-ejercicio {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(123, 73, 143), rgb(16, 7, 36));
}

.left-header {
  display: flex;
  align-items: center;
}

.logo-header {
  height: 7.7vh;
  border-radius: 35px;
  margin: 0 15px;
}

.titulo {
  font-size: 25px;
  font-weight: 500;
}

.right-header{
  display: flex;
  align-items: end;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 12px 17px;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.boton-header {
  background-color: rgb(123, 73, 143);
  color: white;
}

.boton-header:hover {
  background-color: rgba(161, 95, 187, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

.boton-header-seleccionado {
  background-color: white;
  color: rgb(16, 7, 36);
}

//Contenido
.contenedor-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.explicacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 800px; /*a esto hay que ir modificandolo con el responsive*/
}

.indicaciones {
  flex: 1;
  display: flex;
  justify-content: end;
}

.flecha{
  margin: 2.2vh 200px 0 0;
  width: 16.5vh;
  height: 22vh;
}

li {
  margin-left: 50px;
}

.lista-higado {
  color: rgb(175, 0, 0);
}

.lista-musculo {
  color:rgb(0, 88, 175);
}

.lista-adipositos {
  color: rgb(24, 131, 94)
}

li, p {
  font-weight: 500;
}

.footer-ejercicio {
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(123, 73, 143), rgb(16, 7, 36));
}

.logo-footer-veterinarias {
  height: 5.5vh;
  margin-right: 50px;
}

.logo-footer {
  height: 5vh;
}
