@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";s

html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(255, 240, 240);
}

body.regulacion-glucosa {
  background-image: url('/images/backgrounds/ejercicio-glucemia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.home {
  background-image: url('/images/backgrounds/home.png');
  background-size: cover;
  background-repeat: no-repeat;
}


