@import "primeicons/primeicons.css";


// Explorar fuentes
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 7vh;
}

// HEADER SECTION

.mail-info {
  color: white;
  transition: color 0.15s;
}

.mail-info:hover {
  opacity: 0.9;
}

.ejercicios {
  cursor: pointer;
  margin-right: 15px;
}

//SIDEBAR SECTION





//MAIN SECTION

.preview-ejercicios {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.preview-card {
  margin-right: 30px;
}

.p-toolbar {
  border-radius: 0;
}

.titulo-explicacion {
  margin: 0;
  color: rgb(69, 40, 89);
}