@import "primeicons/primeicons.css";

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(255, 240, 240);
}

body.regulacion-glucosa {
  background-image: url('/images/backgrounds/11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body.home {
  background-image: url('/images/backgrounds/10.png');
  background-position: 0% 55%;
  background-repeat: no-repeat;
  font-family: "Catamaran", "Noto Sans", sans-serif;
  color:#e4d1ff;
}

//mover a otro lado?????????
.titulo-explicacion {
  margin: 0;
  color: #ad1261;
}


