@import "primeicons/primeicons.css";

body, html { //Deberia estar html también definido?????
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  // width: 100vw; //Es necesario???
  // min-height: 100vh; //Si uso min-height permito que el contenido sea más grande que el tamaño de la pantalla sin que desborde
  height: 100vh; //Si uso min-height permito que el contenido sea más grande que el tamaño de la pantalla sin que desborde
  width: 100vw;
  color: rgb(255, 240, 240); 
}

body.regulacion-glucosa {
  background-image: url('/images/backgrounds/1.jpg');
  background-position: 72% 0%;
  background-size: 255%;
  background-repeat: no-repeat;
}

body.home {
  background-image: url('/images/backgrounds/10.png');
  background-position: 0% 55%;
  background-repeat: no-repeat;
  font-family: "Catamaran", "Noto Sans", sans-serif;
  color:#e4d1ff;
}

canvas {
  z-index: 9999 !important;
}

.titulo-explicacion {
  margin: 0;
  color: #ad1261;
}


