
@import "popups.scss";
@import "animaciones.scss";

////////////////////// Comienzo #Generales //////////////////////
p {
  font-size: 1.1rem;
  font-weight: 500;
}

.margin-top-12 {
  margin-top: 12px;
}

.cursor-pointer {
  cursor: pointer;
}
////////////////////// Fin #Generales //////////////////////

.contenedor-global {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

////////////////////// Comienzo #Lado Izquierdo //////////////////////

.contenedor-vidas {
  margin-bottom: 20px;
}

.vida {
  height: 40px;
  margin: 0 5px;
}

.contenedor-izquierda {
  height: 100%;
  flex: 1;
}

.comenzar-ejercicio-button {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

////////////// Comienzo #Grid de Opciones //////////////
.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 1fr 50px; //Toma como ancho minimo el ancho minimo del elemento con más ancho de cada columna, por lo que no necesita minimos definidos
  align-items: center;
  column-gap: 15px;
  row-gap: 12px;
}

.boton-titulo-situacion-seleccionada {
  grid-column: 3;
  justify-self: center;
  width: max-content;
  margin-bottom: 50px;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 100px;
  color: white;
  border: none;

  background: linear-gradient(45deg, #290030, #77004d);
  text-shadow: 1px 1px 1px #ff00a6;
  border: 1px solid rgb(116, 13, 66);
  box-shadow: 1px 1px 5px rgb(153, 17, 87);
}

.barra-lateral-hiper-hipo-bottom {
  color: rgb(167, 9, 9);
}

.options-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 10px;
  text-align: end;
}

.grid-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid;
  border-radius: 2px;
  padding: 10px 15px;
}

.grid-img-icons-height {
  height: 50px;
}
////////////// Fin #Grid de Opciones //////////////

////////////// Comienzo #Botones de la Grid //////////////
.higado-color, .higado-color-disabled {
  color: rgb(175, 0, 0);
  transition: opacity 0.5s;
}

.musculo-color, .musculo-color-disabled {
  color:rgb(0, 88, 175);
  transition: opacity 0.5s;
}

.tejido-adiposo-color, .tejido-adiposo-color-disabled {
  color: rgb(24, 131, 94);
  transition: opacity 0.5s;
}

.higado-button, .higado-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(146, 0, 0), rgb(124, 0, 0));
  border: 1px solid rgb(167, 0, 0);
  box-shadow: 1px 1px 5px rgb(167, 0, 0);
}

.musculo-button, .musculo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 38, 121), rgb(0, 26, 83));
  border: 1px solid rgb(0, 41, 163);
  box-shadow: 1px 1px 5px rgb(0, 41, 163);
}

.tejido-adiposo-button, .tejido-adiposo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 88, 58), rgb(0, 59, 40));
  border: 1px solid rgb(0, 105, 51);
  box-shadow: 1px 1px 5px rgb(0, 105, 51);
}

.higado-button, .higado-button-disabled, .musculo-button, .musculo-button-disabled, .tejido-adiposo-button, .tejido-adiposo-button-disabled {
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.higado-color-disabled, .higado-button-disabled, .musculo-color-disabled, .musculo-button-disabled, .tejido-adiposo-color-disabled, .tejido-adiposo-button-disabled {
  opacity: 0.7;
}

.higado-button:hover {
  box-shadow: 1px 1px 10px rgb(255, 0, 0);
  transform: scale(1.03);
}

.musculo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 38, 255);
  transform: scale(1.03);
}

.tejido-adiposo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 255, 58);
  transform: scale(1.03);
}

.higado-button:active, .musculo-button:active, .tejido-adiposo-button:active {
  transform: translate(1.2px, 1.2px);
}
////////////// Fin #Botones de la Grid //////////////
////////////////////// Fin #Lado Izquierdo //////////////////////

////////////////////// Comienzo #Lado Derecho //////////////////////
.contenedor-derecha {
  max-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.contenedor-barra-imagen {
  //Las imagenes son muy grandes y dificiles de manipular, por lo que esta altura soluciona el problema
  //Hace el total del body - el header - el footer - el padding del contenedor y toma el 75% de eso
  //definir esos valores en variables
  // height: calc((100vh - max(10vh, 80px) - max(7vh, 60px) - 60px) * 0.75); // - header - footer - padding

  display: flex;
  justify-content: center;
  min-height: 315px; //ver si dejar estos valores hay que jugar con esto
  min-width: 275px; //ver si dejar estos valores hay que jugar con esto
  // height: 75%; //va a quedar esto con las imagenes más chicas
  // height: 75%; //va a quedar esto con las imagenes más chicas
  // height: 75%; //va a quedar esto con las imagenes más chicas
  // height: 75%; //va a quedar esto con las imagenes más chicas
  height: calc((100vh - max(10vh, 80px) - max(7vh, 60px) - 60px) * 0.80); // - header - footer - padding
}

// #Imagen
.contenedor-imagen {
  position: relative;
  opacity: 0.9;
  height: 100%;
}

.imagen {
  max-height: 100%;
  max-width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
}

.imagen-2 {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
}
// #Imagen

//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643
//color para ajustar imagenes estado #5e0643

.barra-lateral-concentraciones {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 0 2px;
  font-weight: 600;
}

.contenedor-flecha-concentracion {
  display: flex;
  height: 4.7619%;
  align-items: center;
  justify-content: end;
  width: calc(1.6rem + 7ch);
  margin-right: 3px;
}

.flecha-concentracion {
  width: 1.6rem;
  margin-right: 3px;
}

.barra-lateral-hiper-hipo {
  height: 100%;
}

.barra-lateral-hiper-hipo-top, .barra-lateral-hiper-hipo-bottom  {
  padding: 0 2px;
  min-width: 18px;
  width: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48.5%;
  font-weight: 500;
}

.barra-lateral-hiper-hipo-top {
  color: rgb(243, 221, 221);
  background-image: linear-gradient(to bottom, rgb(167, 9, 9, 0.5), rgb(209, 126, 126, 0.5));
  justify-content: start;
}

.barra-lateral-hiper-hipo-bottom {
  color: rgb(167, 9, 9);
  background-image: linear-gradient(to bottom, rgb(209, 126, 126, 0.5), rgb(243, 221, 221, 0.5));
  justify-content: end;
}

.barra-lateral-hiper-hipo-centro {
  height: 3%;
  background-color: rgb(209, 126, 126, 0.3);
}

.contenedor-medida-glucosa {
  color: rgb(255, 240, 240);
  font-weight: 450;
}

//animarlo en circulo
.contenedor-estado {
  max-height: 150px;
  max-width: 570px;
  margin-top: 15px;
  padding: 15px 40px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;

  position: relative; //para el 'before'
}

.contenedor-estado::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid transparent;
  border-radius: 75px;
  background: linear-gradient(45deg, rgb(167, 9, 9), rgb(209, 126, 126)) border-box;
  mask:
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.titulo-estado {
  color: rgb(255, 240, 240);
  font-size: 1.3rem;
}

.buen-estado {
  font-size: 1.3rem;
  color: rgb(24, 131, 94);
}

.mal-estado {
  font-size: 1.3rem;
  color: rgb(220, 9, 9);
}

.mensaje-alerta {
  color: rgb(220, 9, 9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mensaje-estado {
  color: rgb(255, 240, 240);
}

////////////////////// Fin #Lado Derecho //////////////////////


////////////////////// Comienzo #Responsive Media Queries //////////////////////
//1366x768 monitor
@media (max-height: 750px) {
  p {
    font-size: 0.95rem;
  }

  .vida {
    height: 35px;
  }

  .options-title {
    font-size: 1.2rem;
  }

  .grid-button {
    font-size: 0.9rem;
  }

  .double-arrow, .double-arrow-disabled {
    font-size: 2rem;
  }

  .contenedor-flecha-concentracion {
    font-size: 0.9rem;
    width: calc(1.2rem + 7ch);
  }
  
  .flecha-concentracion {
    width: 1.2rem;
  }

  .contenedor-ejercicio {
    padding: 15px;
  }
  
  .contenedor-medida-glucosa {
    font-size: 0.9rem;
  }

  .titulo-estado {
    font-size: 1.1rem;
  }
  
  .buen-estado {
    font-size: 1.1rem;
  }
  
  .mal-estado {
    font-size: 1.1rem;
  }
  
  .mensaje-alerta {
    font-size: 0.9rem;
  }
  
  .mensaje-estado {
    font-size: 0.9rem;
  }
}
////////////////////// Fin #Responsive Media Queries //////////////////////

// @media (min-width: 750.1px) and (max-width: 1000px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// /* También se pueden combinar condiciones */
// @media (min-width: 1000.1px) and (max-width: 1350px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
