<div [@textAnimation]>
  <!-- <span style="font-size: 3rem;" *ngFor="let letter of 'Angular'.split('')">{{ 'letter' }}</span> -->
  <span style="font-size: 3rem">{{ "Comencemos" }}</span>
</div>

<div *ngFor="let opcion of opciones">
  <button
    [@correctaAnimacion]="estados[opcion] === 'correcta' ? 'correcta' : 'normal'"
    [@incorrectaAnimacion]="estados[opcion] === 'incorrecta' ? 'incorrecta' : 'normal'"
    (click)="seleccionar(opcion, $event)">
    {{ opcion }}
  </button>
</div>


@if(opcionMenu !== 'introduccion'){
<div class="contenedor-ejercicio">
  <div class="indicaciones">
    @if(!ejercicioEnProgreso){
    <h2 class="titulo-explicacion">{{ titulo }}</h2>
    <p>{{ descripcionEjercicio1 }}</p>
    <p>{{ descripcionEjercicio2 }}</p>
    <p>{{ descripcionEjercicio3 }}</p>

    <div class="flex-row-justify-center">
      <button class="start-button" (click)="dialogPreEjercicioVisible = true">
        Comenzar Ejercicio
      </button>
    </div>
    } @else {
    <h2 @fadeIn class="titulo-explicacion">{{ titulo }}</h2>
    <p style="margin-bottom: 0; margin-top: 7px" @fadeIn>
      {{ descripcionEjercicio1 }}
    </p>
    <p style="margin-top: 5px" @fadeIn>{{ descripcionEjercicio2 }}</p>

    <div @fadeIn class="options-grid">
      <!-- Hígado -->
      <span></span>
      <button
        [class]="
          generalDisableOption || disabledGlucogenogenesisHigado
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('glucogenogenesisHigado')"
        [disabled]="generalDisableOption || disabledGlucogenogenesisHigado"
      >
        Glucogenogénesis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled higado-color'
            : 'double-arrow higado-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledGlucogenolisisHigado
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('glucogenolisisHigado')"
        [disabled]="generalDisableOption || disabledGlucogenolisisHigado"
      >
        Glucogenólosis
      </button>
      <span
        [class]="
          generalDisableOption
            ? 'options-title higado-color-disabled'
            : 'options-title higado-color'
        "
        >Hígado</span
      >
      <button
        [class]="
          generalDisableOption || disabledGluconeogenesis
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('gluconeogenesis')"
        [disabled]="generalDisableOption || disabledGluconeogenesis"
      >
        Gluconeogénesis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled higado-color'
            : 'double-arrow higado-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledGlucolisis
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('glucolisis')"
        [disabled]="generalDisableOption || disabledGlucolisis"
      >
        Glucólisis
      </button>

      <span></span>
      <button
        [class]="
          generalDisableOption || disabledBetaOxidacion
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('betaOxidacion')"
        [disabled]="generalDisableOption || disabledBetaOxidacion"
      >
        Beta-oxidación / Cetogénesis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled higado-color'
            : 'double-arrow higado-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledSintesisAcidosGrasos
            ? 'grid-button button-sizing-1 higado-button-disabled'
            : 'grid-button button-sizing-1 higado-button'
        "
        (click)="respuestaSeleccionada('sintesisAcidosGrasos')"
        [disabled]="generalDisableOption || disabledSintesisAcidosGrasos"
      >
        Síntesis de ácidos grasos
      </button>

      <!-- Músculo -->
      <span
        [class]="
          generalDisableOption
            ? 'options-title musculo-color-disabled margin-top'
            : 'options-title musculo-color margin-top'
        "
        >Músculo</span
      >
      <button
        [class]="
          generalDisableOption || disabledGlucogenogenesisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled margin-top'
            : 'grid-button button-sizing-1 musculo-button margin-top'
        "
        (click)="respuestaSeleccionada('glucogenogenesisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenogenesisMusculo"
      >
        Glucogénesis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled musculo-color margin-top'
            : 'double-arrow musculo-color margin-top'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledGlucogenolisisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled margin-top'
            : 'grid-button button-sizing-1 musculo-button margin-top'
        "
        (click)="respuestaSeleccionada('glucogenolisisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenolisisMusculo"
      >
        Glucogenólisis
      </button>

      @if(opcionMenu === 'enAyuno'){
      <span></span>
      <button
        [class]="
          generalDisableOption || disabledGlucogenogenesisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled'
            : 'grid-button button-sizing-1 musculo-button'
        "
        (click)="respuestaSeleccionada('glucogenogenesisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenogenesisMusculo"
      >
        Proteólisis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled musculo-color'
            : 'double-arrow musculo-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledGlucogenolisisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled'
            : 'grid-button button-sizing-1 musculo-button'
        "
        (click)="respuestaSeleccionada('glucogenolisisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenolisisMusculo"
      >
        Proteogénesis
      </button>
      } @if(opcionMenu === 'luegoDeAlimentarse'){
      <span></span>
      <button
        [class]="
          generalDisableOption || disabledGlucogenogenesisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled'
            : 'grid-button button-sizing-1 musculo-button'
        "
        (click)="respuestaSeleccionada('glucogenogenesisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenogenesisMusculo"
      >
        Expresión de Glut4
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled musculo-color'
            : 'double-arrow musculo-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledGlucogenolisisMusculo
            ? 'grid-button button-sizing-1 musculo-button-disabled'
            : 'grid-button button-sizing-1 musculo-button'
        "
        (click)="respuestaSeleccionada('glucogenolisisMusculo')"
        [disabled]="generalDisableOption || disabledGlucogenolisisMusculo"
      >
        Expresión de Glut4
      </button>
      }

      <!-- Tejido Adiposo -->
      <span
        [class]="
          generalDisableOption
            ? 'options-title tejido-adiposo-color-disabled margin-top'
            : 'options-title tejido-adiposo-color margin-top'
        "
        >Tejido Adiposo</span
      >
      <button
        [class]="
          generalDisableOption || disabledLipolisis
            ? 'grid-button button-sizing-1 tejido-adiposo-button-disabled margin-top'
            : 'grid-button button-sizing-1 tejido-adiposo-button margin-top'
        "
        (click)="respuestaSeleccionada('lipolisis')"
        [disabled]="generalDisableOption || disabledLipolisis"
      >
        Lipólisis
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled tejido-adiposo-color margin-top'
            : 'double-arrow tejido-adiposo-color margin-top'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledLipogenesis
            ? 'grid-button button-sizing-1 tejido-adiposo-button-disabled margin-top'
            : 'grid-button button-sizing-1 tejido-adiposo-button margin-top'
        "
        (click)="respuestaSeleccionada('lipogenesis')"
        [disabled]="generalDisableOption || disabledLipogenesis"
      >
        Lipogénesis
      </button>

      @if(opcionMenu === 'luegoDeAlimentarse'){
      <span></span>
      <button
        [class]="
          generalDisableOption || disabledLipolisis
            ? 'grid-button button-sizing-1 tejido-adiposo-button-disabled'
            : 'grid-button button-sizing-1 tejido-adiposo-button'
        "
        (click)="respuestaSeleccionada('lipolisis')"
        [disabled]="generalDisableOption || disabledLipolisis"
      >
        Expresión de Glut4
      </button>
      <div
        [class]="
          generalDisableOption
            ? 'double-arrow-disabled tejido-adiposo-color'
            : 'double-arrow tejido-adiposo-color'
        "
      >
        &#11136;
      </div>
      <button
        [class]="
          generalDisableOption || disabledLipogenesis
            ? 'grid-button button-sizing-1 tejido-adiposo-button-disabled'
            : 'grid-button button-sizing-1 tejido-adiposo-button'
        "
        (click)="respuestaSeleccionada('lipogenesis')"
        [disabled]="generalDisableOption || disabledLipogenesis"
      >
        Expresión de Glut4
      </button>
      }
    </div>
    }
  </div>
  <div class="animacion">
    <div #contenedorBarraImagen class="contenedor-barra-imagen">
      <div #barraLateralMedicion class="barra-lateral-medicion">
        @for (medida of escalaMedidas; track medida) {
        <div class="flecha-medicion">
          <img
            *ngIf="medidaActual == medida"
            class="flecha-nivel"
            [@fadeIn]
            src="images/flecha-derecha.png"
          />
          @if([10, 5, 0].includes(medida)){
          <span>{{ medida + "mg/dl" }}</span>
          } @else {
          <span *ngIf="medidaActual == medida" [@fadeIn]>{{
            medida + "mg/dl"
          }}</span>
          }
        </div>
        }
      </div>

      <div class="shadow">
        <div>
          <div class="barra-lateral-top">
            <span>H</span>
            <span>I</span>
            <span>P</span>
            <span>E</span>
            <span>R</span>
          </div>

          <div class="centro-barras-laterales"></div>

          <div class="barra-lateral-bottom">
            <span>H</span>
            <span>I</span>
            <span>P</span>
            <span>O</span>
          </div>
        </div>

        <div class="contenedor-imagen">
          <img
            #imagen2
            class="imagen"
            [@imageFade]="imageFade2"
            src="images/estado-2.jpg"
          />
          <img
            #imagen1
            class="imagen-2"
            [@imageFade]="imageFade1"
            src="images/estado-1.jpg"
          />
          <img
            #imagen3
            class="imagen-2"
            [@imageFade]="imageFade3"
            src="images/estado-3.jpg"
          />
          <img
            #imagen4
            class="imagen-2"
            [@imageFade]="imageFade4"
            src="images/estado-4.jpg"
          />
        </div>
      </div>
    </div>

    <div class="concentracion">
      <span>Concentración de Glucosa: </span
      ><span>{{ medidaActual }}mg/dl</span>
    </div>

    <div class="estado">
      @if(!ejercicioEnProgreso){
      <div class="titulo-estado">
        Estado: <span class="buen-estado">{{ estado }}</span>
      </div>
      } @else {
      <div @fadeIn class="titulo-estado">
        Estado: <span class="mal-estado">{{ estado }}</span>
      </div>
      <div @fadeIn class="mensaje-alerta">
        {{ mensajeAlerta }}
      </div>
      <div @fadeIn class="mensaje-estado">
        {{ mensajeEstado }}
      </div>
      }
    </div>
  </div>
</div>
}

<!-- Popup de resultados -->

<!-- Capaz que tiene que tienen que tener una altura fija siempre los popups -->
<p-dialog
  [visible]="dialogResultadoVisible"
  [@popupFade]="dialogResultadoFade"
  [modal]="true"
  [ngClass]="
    dialogResultadoCorrecto
      ? 'dialog-correcto dialog-size'
      : 'dialog-error dialog-size'
  "
  [style]="{
    minWidth: '290px',
    minHeight: '450px',
    width: '30vw',
    height: '70vh'
  }"
>
  <ng-template pTemplate="headless">
    <div class="dialog">
      <img
        style="width: 10rem"
        [src]="
          dialogResultadoCorrecto
            ? 'images/resultados/happy-face.png'
            : 'images/resultados/sad-face.png'
        "
      />
      <div class="dialog-text-container">
        <span
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-title dialog-color-correcto'
              : 'dialog-title dialog-color-error'
          "
        >
          {{ dialogResultadoCorrecto ? "Muy bien!" : "Que mal" }}</span
        >
        <span
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-text dialog-color-correcto'
              : 'dialog-text dialog-color-error'
          "
        >
          {{ mensajeDialogResultado }}
        </span>
      </div>

      <div *ngIf="showButtonsDialogResultado">
        <button
          style="margin-right: 10px"
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-button dialog-button-correcto'
              : 'dialog-button dialog-button-error'
          "
          (click)="dialogResultadoVisible = false"
        >
          Ir a Inicio
        </button>
        <button
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-button dialog-button-correcto'
              : 'dialog-button dialog-button-error'
          "
          (click)="dialogResultadoVisible = false"
        >
          Ir a 'En Ayuno'
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- Popup de navegación al intentar salir -->
<p-dialog
  [visible]="dialogSalirVisible"
  [modal]="true"
  ngClass="dialog-salir"
  [style]="{
    minWidth: '370px',
    minHeight: '150px',
    width: '30vw',
    height: '33vh'
  }"
>
  <!-- Ajustar los minimos de ancho y alto para los dos dialog -->
  <ng-template pTemplate="headless">
    <div class="dialog-salir">
      <div class="dialog-text-container">
        <span class="dialog-title-2"> Seguro que deseas salir?</span>
        <span class="dialog-text">
          Si sales ahora el progreso del ejercicio se perderá
        </span>
      </div>

      <div>
        <button
          style="margin-right: 10px"
          class="dialog-button dialog-button-salir"
          (click)="resetearEjercicio(); dialogSalirVisible = false"
        >
          Salir
        </button>
        <button
          class="dialog-button dialog-button-salir"
          (click)="opcionMenuTentativa = ''; dialogSalirVisible = false"
        >
          Volver
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- Insulina (única correcta en after eating), Glucagón, Adrenalina, Hormona del Crecimiento (GH) y Cortisol (estas últimas cuatro son correctas en fasting). -->
<!-- Popup de preguntas pre-ejercicio -->
<p-dialog
  [visible]="dialogPreEjercicioVisible"
  [modal]="true"
  ngClass="dialog-salir"
  [style]="{
    minWidth: '290px',
    minHeight: '500px',
    maxWidth: '430px',
    maxHeight: '550px',
    width: '30vw',
    height: '75vh'
  }"
>
  <ng-template pTemplate="headless">
    <div class="dialog-salir">
      <span
        class="pre-ejercicio-text"
        style="font-size: 1.3rem; font-weight: 800"
        >Para comenzar!</span
      >
      <span
        class="pre-ejercicio-text"
        style="font-size: 1.1rem; font-weight: 700"
      >
        Elige una hormona del listado que vaya a colaborar en el ejercicio
        seleccionado
      </span>

      <img
        style="height: 90px; margin-bottom: 10px; cursor: pointer"
        (click)="switchBunnyIcon = !switchBunnyIcon"
        [src]="
          !switchBunnyIcon
            ? 'images/resultados/bunny-glasses-purple.png'
            : 'images/resultados/bunny-laugh-purple.png'
        "
        alt=""
      />

      <button
        class="pre-ejercicio-button higado-button2"
        (click)="hormonaSeleccionada('insulina')"
      >
        Insulina
      </button>
      <button
        class="pre-ejercicio-button musculo-button2"
        (click)="hormonaSeleccionada('noInsulina')"
      >
        Glucagón</button
      ><button
        class="pre-ejercicio-button tejido-adiposo-button2"
        (click)="hormonaSeleccionada('noInsulina')"
      >
        Adrenalina</button
      ><button
        class="pre-ejercicio-button yellow-button2"
        (click)="hormonaSeleccionada('noInsulina')"
      >
        Hormona del Crecimiento (GH)</button
      ><button
        class="pre-ejercicio-button start-button2"
        (click)="hormonaSeleccionada('noInsulina')"
      >
        Cortisol
      </button>
    </div>
  </ng-template>
</p-dialog>

<!-- @if (displayMensajeFlotante) {
  <h1 class="mensajeFlotante" [@shrinkFade]="fadeMensajeFlotante">Comencemos!</h1>
} -->
<div class="contenedorFlotante">
  <span class="mensajeFlotante" [@textAnimation]="true">Comencemos!</span>
  <img style="width: 7rem" [src]="'images/resultados/5.png'" />
</div>
