
//***************Animación de flecha pulsante***************//
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.flecha-pulsante {
  animation: pulse 1.5s infinite ease-in-out;
}

.pulse {
  animation: pulse-2 1.5s infinite ease-in-out;
}

.pulse-heart {
  animation: pulse-3 1.7s infinite ease-in-out;
}

.pulse-heart:active {
  animation: none;
  transform: scale(1.12);
}


@keyframes rotate {
  0% {
    transform: rotate(-0.01turn);
  }
  50% {
    transform: rotate(0.01turn);
  }
  100% {
    transform: rotate(-0.01turn);
  }
}

.rotate {
  animation: rotate 1.5s infinite ease-in-out;
}

.translate {
  transition: transform 0.1s;
}

@import "popups.scss";

p {
  font-size: 1.1rem;
  font-weight: 500;
}

.contenedor-ejercicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  height: calc(100vh - 17vh);
}

.margin-top {
  margin-top: 12px;
}

.pointer {
  cursor: pointer;
}

// Para pantallas de telefonos, alinear todo completamente en vertical

////////////////////// Lado Izquierdo //////////////////////

// Para pantallas muy grandes, alinear titulos de botones (higado, etc) a la izquierda, pero cuando se achica, ubicarlos arriba

.indicaciones {
  flex: 1;
}

.flex-row-justify-center {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2.7rem 1fr 2.7rem;
  align-items: center;
  column-gap: 15px;
  row-gap: 12px;
}

.options-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 10px;
  text-align: end;
}

//Botones de opciones
.grid-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid;
  border-radius: 2px;
  padding: 10px 15px;
}

.double-arrow, .double-arrow-disabled {
  font-size: 2.7rem;
  line-height: 2rem; //ver que esté bien en monitores grandes
  transition: opacity 0.5s;
}

.double-arrow-disabled {
  opacity: 0.7;
}

.higado-color, .higado-color-disabled {
  color: rgb(175, 0, 0);
  transition: opacity 0.5s;
}

.musculo-color, .musculo-color-disabled {
  color:rgb(0, 88, 175);
  transition: opacity 0.5s;
}

.tejido-adiposo-color, .tejido-adiposo-color-disabled {
  color: rgb(24, 131, 94);
  transition: opacity 0.5s;
}

.higado-button, .higado-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(146, 0, 0), rgb(124, 0, 0));
  border: 1px solid rgb(167, 0, 0);
  box-shadow: 1px 1px 5px rgb(167, 0, 0);
}

.musculo-button, .musculo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 38, 121), rgb(0, 26, 83));
  border: 1px solid rgb(0, 41, 163);
  box-shadow: 1px 1px 5px rgb(0, 41, 163);
}

.tejido-adiposo-button, .tejido-adiposo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 88, 58), rgb(0, 59, 40));
  border: 1px solid rgb(0, 105, 51);
  box-shadow: 1px 1px 5px rgb(0, 105, 51);
}

.higado-button, .higado-button-disabled, .musculo-button, .musculo-button-disabled, .tejido-adiposo-button, .tejido-adiposo-button-disabled {
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.higado-color-disabled, .higado-button-disabled, .musculo-color-disabled, .musculo-button-disabled, .tejido-adiposo-color-disabled, .tejido-adiposo-button-disabled {
  opacity: 0.7;
}

.higado-button:hover {
  box-shadow: 1px 1px 10px rgb(255, 0, 0);
  transform: scale(1.03);
}

.musculo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 38, 255);
  transform: scale(1.03);
}

.tejido-adiposo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 255, 58);
  transform: scale(1.03);
}

.higado-button:active, .musculo-button:active, .tejido-adiposo-button:active {
  transform: translate(1.2px, 1.2px);
}

////////////////////// Lado Derecho //////////////////////

// Para pantallas muy grandes, alinear el estado a la derecha de la imagen posiblemente y a medida que se achica, alinearlo abajo de la imagen

.animacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contenedor-vidas {
  margin-bottom: 20px;
}

.vida {
  height: 40px;
  margin: 0 5px;
}

.contenedor-barra-imagen {
  display: flex;
  justify-content: center;
  height: 70%; //hay que jugar con esto
  overflow: hidden; //Para eliminar el overflow que produce la imagen => Porque se produce ese overflow?
  padding: 0 5px 5px 0; //Para la sombra
  min-height: 315px; //ver si dejar estos valores hay que jugar con esto
  min-width: 275px; //ver si dejar estos valores hay que jugar con esto
}

.barra-lateral-medicion {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 0 2px;
  font-weight: 600;
}

.flecha-medicion {
  display: flex;
  height: 4.7619%;
  align-items: center;
  justify-content: end;
  width: calc(1.6rem + 7ch);
  margin-right: 3px;
}

.flecha-nivel {
  width: 1.6rem;
  margin-right: 3px;
}

.barra-lateral-top, .barra-lateral-bottom  {
  padding: 0 2px;
  min-width: 18px;
  width: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48.5%;
  font-weight: 500;
}

.barra-lateral-top {
  color: rgb(243, 221, 221);
  background-image: linear-gradient(to bottom, rgb(167, 9, 9, 0.5), rgb(209, 126, 126, 0.5));
  justify-content: start;
}

.barra-lateral-bottom {
  color: rgb(167, 9, 9);
  background-image: linear-gradient(to bottom, rgb(209, 126, 126, 0.5), rgb(243, 221, 221, 0.5));
  justify-content: end;
}

.centro-barras-laterales {
  height: 3%;
  background-color: rgb(209, 126, 126, 0.3);
}

.shadow {
  display: flex;
  // box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.5);
}

.contenedor-imagen {
  position: relative;
  opacity: 0.9;
}

.imagen {
  height: 100%;
  width: auto;
  //Porcentaje a definir
  //Porcentaje a definir
  //Porcentaje a definir
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
}

.imagen-2 {
  height: 100%;
  width: auto;
  position: absolute;
  //Porcentaje a definir
  //Porcentaje a definir
  //Porcentaje a definir
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
}

.concentracion {
  color: rgb(255, 240, 240);
  font-weight: 450;
}

//animarlo en circulo
.estado {
  max-height: 150px;
  max-width: 570px;
  margin-top: 15px;
  padding: 15px 40px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;

  position: relative; //para el 'before'
}

.estado::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid transparent;
  border-radius: 75px;
  background: linear-gradient(45deg, rgb(167, 9, 9), rgb(209, 126, 126)) border-box;
  mask:
    linear-gradient(#000 0 0) padding-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.titulo-estado {
  color: rgb(255, 240, 240);
  font-size: 1.3rem;
}

.buen-estado {
  font-size: 1.3rem;
  color: rgb(24, 131, 94);
}

.mal-estado {
  font-size: 1.3rem;
  color: rgb(220, 9, 9);
}

.mensaje-alerta {
  color: rgb(220, 9, 9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mensaje-estado {
  color: rgb(255, 240, 240);
}

//1366x768 monitor
@media (max-height: 750px) {
  p {
    font-size: 0.95rem;
  }

  .vida {
    height: 35px;
  }

  .options-title {
    font-size: 1.2rem;
  }

  .grid-button {
    font-size: 0.9rem;
  }

  .double-arrow, .double-arrow-disabled {
    font-size: 2rem;
  }

  .flecha-medicion {
    font-size: 0.9rem;
    width: calc(1.2rem + 7ch);
  }
  
  .flecha-nivel {
    width: 1.2rem;
  }

  .contenedor-ejercicio {
    padding: 15px;
  }
  
  .concentracion {
    font-size: 0.9rem;
  }

  .titulo-estado {
    font-size: 1.1rem;
  }
  
  .buen-estado {
    font-size: 1.1rem;
  }
  
  .mal-estado {
    font-size: 1.1rem;
  }
  
  .mensaje-alerta {
    font-size: 0.9rem;
  }
  
  .mensaje-estado {
    font-size: 0.9rem;
  }
  
}

// @media (min-width: 750.1px) and (max-width: 1000px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// /* También se pueden combinar condiciones */
// @media (min-width: 1000.1px) and (max-width: 1350px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
