
@import "popups.scss";
@import "animaciones.scss";

////////////////////// Comienzo #Generales //////////////////////
p {
  font-size: 1.1rem;
  font-weight: 500;
}
////////////////////// Fin #Generales //////////////////////

////////////////////// Comienzo #Lado Izquierdo //////////////////////
.comenzar-ejercicio-button {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.boton-titulo-grid {
  background: linear-gradient(45deg, #290030, #77004d);
  text-shadow: 1px 1px 1px #ff00a6;
  border: 1px solid rgb(116, 13, 66);
  box-shadow: 1px 1px 5px rgb(153, 17, 87);
}

////////////// Comienzo Botones de la Grid //////////////
.higado-color, .higado-color-disabled {
  color: rgb(175, 0, 0);
  transition: opacity 0.5s;
}

.musculo-color, .musculo-color-disabled {
  color:rgb(0, 88, 175);
  transition: opacity 0.5s;
}

.tejido-adiposo-color, .tejido-adiposo-color-disabled {
  color: rgb(24, 131, 94);
  transition: opacity 0.5s;
}

.higado-button, .higado-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(146, 0, 0), rgb(124, 0, 0));
  border: 1px solid rgb(167, 0, 0);
  box-shadow: 1px 1px 5px rgb(167, 0, 0);
}

.musculo-button, .musculo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 38, 121), rgb(0, 26, 83));
  border: 1px solid rgb(0, 41, 163);
  box-shadow: 1px 1px 5px rgb(0, 41, 163);
}

.tejido-adiposo-button, .tejido-adiposo-button-disabled {
  color: white;
  background: linear-gradient(135deg, rgb(0, 88, 58), rgb(0, 59, 40));
  border: 1px solid rgb(0, 105, 51);
  box-shadow: 1px 1px 5px rgb(0, 105, 51);
}

.higado-button, .higado-button-disabled, .musculo-button, .musculo-button-disabled, .tejido-adiposo-button, .tejido-adiposo-button-disabled {
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.higado-color-disabled, .higado-button-disabled, .musculo-color-disabled, .musculo-button-disabled, .tejido-adiposo-color-disabled, .tejido-adiposo-button-disabled {
  opacity: 0.7;
}

.higado-button:hover {
  box-shadow: 1px 1px 10px rgb(255, 0, 0);
  transform: scale(1.03);
}

.musculo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 38, 255);
  transform: scale(1.03);
}

.tejido-adiposo-button:hover {
  box-shadow: 1px 1px 10px rgb(0, 255, 58);
  transform: scale(1.03);
}

.higado-button:active, .musculo-button:active, .tejido-adiposo-button:active {
  transform: translate(1.2px, 1.2px);
}
////////////// Fin Botones de la Grid //////////////
////////////////////// Fin Lado Izquierdo //////////////////////

////////////////////// Comienzo Lado Derecho //////////////////////

.barra-hiper {
  color: rgb(243, 221, 221);
  background-image: linear-gradient(to bottom, rgb(167, 9, 9, 0.5), rgb(209, 126, 126, 0.5));
  justify-content: start;
}

.barra-hipo {
  color: rgb(167, 9, 9);
  background-image: linear-gradient(to bottom, rgb(209, 126, 126, 0.5), rgb(243, 221, 221, 0.5));
  justify-content: end;
}

.barra-centro {
  background-color: rgb(209, 126, 126, 0.3);
}

.difuminado-imagen-estado {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%);
}

.contenedor-estado {
  position: relative; //para el 'before'
}

.contenedor-estado::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid transparent;
  background: linear-gradient(45deg, rgb(167, 9, 9), rgb(209, 126, 126)) border-box;
  mask:
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;

  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.color-buen-estado {
  color: rgb(24, 131, 94);
}

.color-mal-estado {
  color: rgb(220, 9, 9);
}

/*
| **Ancho (px)** | **Resolución más usada**     | **Dispositivo/uso común**                       |
| -------------- | ---------------------------- | ----------------------------------------------- |
| **360**        | 360 × 640                    | Móviles Android pequeños/medios                 |
| **480**        | 480 × 800                    | Móviles Android más antiguos                    |
| **768**        | 768 × 1024                   | Tablets (ej. iPad en orientación vertical)      |
| **1024**       | 1024 × 768                   | Tablets (ej. iPad horizontal), pantallas viejas |
| **1280**       | 1280 × 720 (HD) o 1280 × 800 | Laptops pequeños, pantallas HD                  |
| **1366**       | 1366 × 768                   | Resolución más común en laptops (hasta hoy)     |
| **1920**       | 1920 × 1080 (Full HD)        | Escritorios, monitores Full HD                  |
*/

@media (max-width: 1536px) {
  .contenedor-estado::before {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

////////////////////// Fin Lado Derecho //////////////////////