

// No, absolutely positioning does not conflict with flex containers. Making an element be a flex container only 
// affects its inner layout model, that is, the way in which its contents are laid out. Positioning affects the element itself, and can alter its outer role for flow layout.

// That means that

// If you add absolute positioning to an element with display: inline-flex, it will become block-level (like display: flex), but will still generate a flex formatting context.

// If you add absolute positioning to an element with display: flex, it will be sized using the shrink-to-fit algorithm 
// (typical of inline-level containers) instead of the fill-available one.

// That said, absolutely positioning conflicts with flex children.

// As it is out-of-flow, an absolutely-positioned child of a flex container does not participate in flex layout.


//************************************************************
//Hacer animación de exito y fracaso con mensaje que se escribe como maquina de escribir y se ilumina o algo y algún botón para reiniciar o elegir que hacer a continuación
// Verde claro #dffdf5
// Verde oscuro #3dcca0

// Rojo claro #ffeded
// Rojo oscuro #e85f71

::ng-deep .dialog-correcto .p-dialog {
  border-radius: 17px;
  color: #3dcca0;
  background-color: #dffdf5;
}

::ng-deep .dialog-error .p-dialog {
  border-radius: 17px;
  color: #e85f71;
  background-color: #ffeded;
}

::ng-deep .dialog-salir .p-dialog {
  border-radius: 17px;
  color: rgb(69, 40, 89);
  background-color: rgb(245, 245, 245);
}

.dialog {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 20px;
  align-items: center;
}

.dialog-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.dialog-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.dialog-title-2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.dialog-text {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}

.dialog-color-correcto {
  color: #3dcca0;
}

.dialog-color-error {
  color: #e85f71;
}

.dialog-button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.dialog-button-correcto {
  color: #dffdf5;
  background-color: #3dcca0;
}

.dialog-button-correcto:hover {
  color: #3dcca0;
  border: 2px solid #3dcca0;
  padding: 8px 13px;
  background-color: #dffdf5;
}

.dialog-button-error {
  color: #ffeded;
  background-color: #e85f71;
}

.dialog-button-error:hover {
  color: #e85f71;
  border: 2px solid #e85f71;
  padding: 8px 13px;
  background-color: #ffeded;
}

.dialog-salir {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  align-items: center;
}

.dialog-button-salir {
  color: rgb(245, 245, 245);
  background-color: rgb(69, 40, 89);
}

.dialog-button-salir:hover {
  color: rgb(69, 40, 89);
  border: 2px solid rgb(69, 40, 89);
  padding: 8px 13px;
  background-color: rgb(245, 245, 245);
}

p {
  font-size: 1.1rem;
  font-weight: 500;
}

.contenedor-ejercicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  height: calc(100vh - 60px - 17vh);
}

.margin-top {
  margin-top: 15px;
}

// Para pantallas de telefonos, alinear todo completamente en vertical

//<div class="flecha">&#11152; &#11153; </div>
////////////////////// Lado Izquierdo //////////////////////

// Para pantallas muy grandes, alinear titulos de botones (higado, etc) a la izquierda, pero cuando se achica, ubicarlos arriba

.indicaciones {
  flex: 1;
  // background-color: lightyellow;
}

.flex-row-justify-center {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.start-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(69, 40, 89);
  background-color: white;
  border: 2px solid rgb(69, 40, 89);
  box-shadow: 1px 1px 5px rgb(69, 40, 89, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  box-shadow: 0px 0px 11px rgb(69, 40, 89, 0.4);
  transform: scale(1.03);
}

.options-container {
  display: flex;
  padding: 15px;
  align-items: center;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2.7rem 1fr;
  align-items: center;
  column-gap: 10px;
}

.options-title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 10px;
  text-align: end;
}

.grid-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.button-sizing-1 {
  height: 80%;
  padding: 0 15px;
}

.button-sizing-2 {
  height: 62%;
  padding: 0 15px;
}

.double-arrow, .double-arrow-disabled {
  font-size: 2.7rem;
  transition: opacity 0.5s;
}

.double-arrow-disabled {
  opacity: 0.7;
}

.higado-color, .higado-color-disabled {
  color: rgb(175, 0, 0);
  transition: opacity 0.5s;
}

.musculo-color, .musculo-color-disabled {
  color:rgb(0, 88, 175);
  transition: opacity 0.5s;
}

.tejido-adiposo-color, .tejido-adiposo-color-disabled {
  color: rgb(24, 131, 94);
  transition: opacity 0.5s;
}

.higado-button, .higado-button-disabled {
  color: rgb(175, 0, 0);
  border-color: rgb(175, 0, 0);
  box-shadow: 1px 1px 5px rgb(175, 0, 0, 0.3);
}

.musculo-button, .musculo-button-disabled {
  color: rgb(0, 88, 175);
  border-color: rgb(0, 88, 175);
  box-shadow: 1px 1px 5px rgb(0, 88, 175, 0.3);
}

.tejido-adiposo-button, .tejido-adiposo-button-disabled {
  color: rgb(24, 131, 94);
  border-color: rgb(24, 131, 94);
  box-shadow: 1px 1px 5px rgb(24, 131, 94, 0.3);
}

.higado-button, .higado-button-disabled, .musculo-button, .musculo-button-disabled, .tejido-adiposo-button, .tejido-adiposo-button-disabled, .start-button {
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.higado-color-disabled, .higado-button-disabled, .musculo-color-disabled, .musculo-button-disabled, .tejido-adiposo-color-disabled, .tejido-adiposo-button-disabled {
  opacity: 0.7;
}

.higado-button:hover {
  box-shadow: 0px 0px 11px rgb(175, 0, 0, 0.4);
  transform: scale(1.03);
}

.musculo-button:hover {
  box-shadow: 0px 0px 11px rgb(0, 88, 175, 0.4);
  transform: scale(1.03);
}

.tejido-adiposo-button:hover {
  box-shadow: 0px 0px 11px rgb(24, 131, 94, 0.4);
  transform: scale(1.03);
}

.higado-button:active, .musculo-button:active, .tejido-adiposo-button:active, .start-button:active {
  transform: translate(1.2px, 1.2px);
}

////////////////////// Lado Derecho //////////////////////

// Para pantallas muy grandes, alinear el estado a la derecha de la imagen posiblemente y a medida que se achica, alinearlo abajo de la imagen

.animacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  // background: rgb(236, 236, 236);
}

.contenedor-barra-imagen {
  display: flex;
  justify-content: center;
  height: 90%;
  overflow: hidden; //Para eliminar el overflow que produce la imagen => Porque se produce ese overflow?
  padding: 0 5px 5px 0; //Para la sombra
}

.barra-lateral-medicion {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 0 2px;
  font-weight: 600;
}

.flecha-medicion {
  display: flex;
  height: 4.7619%;
  align-items: center;
  justify-content: end;
  width: calc(1.7rem + 7ch);
  margin-right: 3px;
}

.flecha-nivel {
  width: 1.7rem;
  height: 1.2rem;
  margin-right: 5px;
}

.barra-lateral-top, .barra-lateral-bottom  {
  padding: 0 2px;
  width: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48.5%;
  font-weight: 500;
}

.barra-lateral-top {
  color: rgb(243, 221, 221);
  background-image: linear-gradient(to bottom, rgb(167, 9, 9), rgb(209, 126, 126));
  justify-content: start;
}

.barra-lateral-bottom {
  color: rgb(167, 9, 9);
  background-image: linear-gradient(to bottom, rgb(209, 126, 126), rgb(243, 221, 221));
  justify-content: end;
}

.centro-barras-laterales {
  height: 3%;
  background-color: rgb(209, 126, 126, 0.5);
}

.shadow {
  display: flex;
  box-shadow: 2px 1px 5px rgb(0, 0, 0, 0.5);
}

.contenedor-imagen {
  position: relative;
  // background-color: rgb(167, 9, 9);// rgb(77, 99, 97);
}

.imagen {
  height: 100%;
  width: auto;
  // filter: brightness(150%); este filtro con una transition lenta podría usarse como animación
}

.imagen-2 {
  height: 100%;
  width: auto;
  position: absolute;
  // filter: brightness(150%); este filtro con una transition lenta podría usarse como animación
}

.concentracion {
  color: rgb(69, 40, 89);
  font-weight: 450;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}

.estado {
  height: 20%;
  width: 70%;
  border: 3px solid rgb(69, 40, 89);
  border-radius: 40px;
  padding: 15px 40px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.titulo-estado {
  color: rgb(48, 27, 63);
  font-size: 1.3rem;
}

.buen-estado {
  font-size: 1.3rem;
  color: rgb(24, 131, 94);
}

.mal-estado {
  font-size: 1.3rem;
  color: rgb(220, 9, 9);
}

.mensaje-alerta {
  color: rgb(220, 9, 9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mensaje-estado {
  color: rgb(48, 27, 63);
}

//1366x768 monitor
@media (max-height: 750px) {
  p {
    font-size: 0.95rem;
  }

  .options-title {
    font-size: 1.2rem;
  }

  .grid-button {
    font-size: 0.9rem;
  }

  .double-arrow, .double-arrow-disabled {
    font-size: 2.5rem;
  }
  
  .options-grid {
    grid-template-columns: 1fr 1fr 2.5rem 1fr;
  }

  .flecha-medicion {
    font-size: 0.9rem;
    width: calc(1.3rem + 7ch);
  }
  
  .flecha-nivel {
    width: 1.3rem;
    height: 0.9rem;
  }

  .contenedor-ejercicio {
    padding: 15px;
    height: calc(100vh - 30px - 17vh);
  }
  
  .concentracion {
    font-size: 0.9rem;
  }

  .estado {
    height: 30%;
    width: 70%;
    border: 3px solid rgb(69, 40, 89);
    border-radius: 40px;
    padding: 7px 20px;
    gap: 5px;
  }

  .titulo-estado {
    color: rgb(48, 27, 63);
    font-size: 1.1rem;
  }
  
  .buen-estado {
    font-size: 1.1rem;
  }
  
  .mal-estado {
    font-size: 1.1rem;
  }
  
  .mensaje-alerta {
    font-size: 0.9rem;
  }
  
  .mensaje-estado {
    font-size: 0.9rem;
  }
  
  //Tengo que entender como funciona el tamaño de las cosas dentro de una grid
  .button-sizing-1 {
    height: 90%;
  }

  .button-sizing-2 {
    height: 70%;
  }
  
}

// @media (min-width: 750.1px) and (max-width: 1000px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// /* También se pueden combinar condiciones */
// @media (min-width: 1000.1px) and (max-width: 1350px) {
//   .video-grid {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
