
@if(opcionMenu !== 'introduccion'){
  <div class="contenedor-ejercicio">
    <div class="indicaciones">
      @if(!ejercicioEnProgreso){
      <h2 class="titulo-explicacion">{{ titulo }}</h2>
      <p>{{ descripcionEjercicio1 }}</p>
      <p>{{ descripcionEjercicio2 }}</p>
      <p>{{ descripcionEjercicio3 }}</p>

      <div class="flex-row-justify-center">
        <button class="start-button" (click)="comenzarEjercicio()">
          Comenzar Ejercicio
        </button>
      </div>
      } @else {
      <h2 @fadeIn class="titulo-explicacion">{{ titulo }}</h2>
      <p @fadeIn>{{ descripcionEjercicio1 }}</p>
      <p @fadeIn>{{ descripcionEjercicio2 }}</p>

      <div class="options-container" @fadeIn>
        <div class="options-grid">
          <!-- Hígado -->
          <span></span>
          <button
            [class]="
              generalDisableOption || disabledGlucogenesisHigado
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('glucogenesisHigado')"
            [disabled]="generalDisableOption || disabledGlucogenesisHigado"
          >
            Glucogénesis
          </button>
          <div
            [class]="
              generalDisableOption
                ? 'double-arrow-disabled higado-color'
                : 'double-arrow higado-color'
            "
          >
            &#11136;
          </div>
          <button
            [class]="
              generalDisableOption || disabledGlucogenolosisHigado
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('glucogenolosisHigado')"
            [disabled]="generalDisableOption || disabledGlucogenolosisHigado"
          >
            Glucogenólosis
          </button>
          <span
            [class]="
              generalDisableOption
                ? 'options-title higado-color-disabled'
                : 'options-title higado-color'
            "
            >Hígado</span
          >
          <button
            [class]="
              generalDisableOption || disabledGluconeogenesis
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('gluconeogenesis')"
            [disabled]="generalDisableOption || disabledGluconeogenesis"
          >
            Gluconeogénesis
          </button>
          <div
            [class]="
              generalDisableOption
                ? 'double-arrow-disabled higado-color'
                : 'double-arrow higado-color'
            "
          >
            &#11136;
          </div>
          <button
            [class]="
              generalDisableOption || disabledGlucolisis
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('glucolisis')"
            [disabled]="generalDisableOption || disabledGlucolisis"
          >
            Glucólisis
          </button>

          <span></span>
          <button
            [class]="
              generalDisableOption || disabledBetaOxidacion
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('betaOxidacion')"
            [disabled]="generalDisableOption || disabledBetaOxidacion"
          >
            Beta-oxidación
          </button>
          <div
            [class]="
              generalDisableOption
                ? 'double-arrow-disabled higado-color'
                : 'double-arrow higado-color'
            "
          >
            &#11136;
          </div>
          <button
            [class]="
              generalDisableOption || disabledSintesisAcidosGrasos
                ? 'grid-button button-sizing-1 higado-button-disabled'
                : 'grid-button button-sizing-1 higado-button'
            "
            (click)="respuestaSeleccionada('sintesisAcidosGrasos')"
            [disabled]="generalDisableOption || disabledSintesisAcidosGrasos"
          >
            Síntesis de ácidos grasos
          </button>

          <!-- Músculo -->
          <span
            [class]="
              generalDisableOption
                ? 'options-title musculo-color-disabled margin-top'
                : 'options-title musculo-color margin-top'
            "
            >Músculo</span
          >
          <button
            [class]="
              generalDisableOption || disabledGlucogenesisMusculo
                ? 'grid-button button-sizing-2 musculo-button-disabled margin-top'
                : 'grid-button button-sizing-2 musculo-button margin-top'
            "
            (click)="respuestaSeleccionada('glucogenesisMusculo')"
            [disabled]="generalDisableOption || disabledGlucogenesisMusculo"
          >
            Glucogénesis
          </button>
          <div
            [class]="
              generalDisableOption
                ? 'double-arrow-disabled musculo-color margin-top'
                : 'double-arrow musculo-color margin-top'
            "
          >
            &#11136;
          </div>
          <button
            [class]="
              generalDisableOption || disabledGlucogenolosisMusculo
                ? 'grid-button button-sizing-2 musculo-button-disabled margin-top'
                : 'grid-button button-sizing-2 musculo-button margin-top'
            "
            (click)="respuestaSeleccionada('glucogenolosisMusculo')"
            [disabled]="generalDisableOption || disabledGlucogenolosisMusculo"
          >
            Glucogenólosis
          </button>

          <!-- Tejido Adiposo -->
          <span
            [class]="
              generalDisableOption
                ? 'options-title tejido-adiposo-color-disabled margin-top'
                : 'options-title tejido-adiposo-color margin-top'
            "
            >Tejido Adiposo</span
          >
          <button
            [class]="
              generalDisableOption || disabledLipolisis
                ? 'grid-button button-sizing-2 tejido-adiposo-button-disabled margin-top'
                : 'grid-button button-sizing-2 tejido-adiposo-button margin-top'
            "
            (click)="respuestaSeleccionada('lipolisis')"
            [disabled]="generalDisableOption || disabledLipolisis"
          >
            Lipólisis
          </button>
          <div
            [class]="
              generalDisableOption
                ? 'double-arrow-disabled tejido-adiposo-color margin-top'
                : 'double-arrow tejido-adiposo-color margin-top'
            "
          >
            &#11136;
          </div>
          <button
            [class]="
              generalDisableOption || disabledLipogenesis
                ? 'grid-button button-sizing-2 tejido-adiposo-button-disabled margin-top'
                : 'grid-button button-sizing-2 tejido-adiposo-button margin-top'
            "
            (click)="respuestaSeleccionada('lipogenesis')"
            [disabled]="generalDisableOption || disabledLipogenesis"
          >
            Lipogénesis
          </button>
        </div>
      </div>
      }
    </div>

    <div class="animacion">
      <div #contenedorBarraImagen class="contenedor-barra-imagen">
        <div #barraLateralMedicion class="barra-lateral-medicion">
          @for (medida of escalaMedidas; track medida) {
          <div class="flecha-medicion">
            <img
              *ngIf="medidaActual == medida"
              class="flecha-nivel"
              [@fadeIn]
              src="images/flecha-derecha.png"
            />
            @if([10, 5, 0].includes(medida)){
            <span>{{ medida + "mg/dl" }}</span>
            } @else {
            <span *ngIf="medidaActual == medida" [@fadeIn]>{{
              medida + "mg/dl"
            }}</span>
            }
          </div>
          }
        </div>

        <div class="shadow">
          <div>
            <div class="barra-lateral-top">
              <span>H</span>
              <span>I</span>
              <span>P</span>
              <span>E</span>
              <span>R</span>
            </div>

            <div class="centro-barras-laterales"></div>

            <div class="barra-lateral-bottom">
              <span>H</span>
              <span>I</span>
              <span>P</span>
              <span>O</span>
            </div>
          </div>

          <div class="contenedor-imagen">
            <img
              #imagen1
              class="imagen-2"
              [@imageFade]="imageFade1"
              src="images/estado-1.jpg"
            />
            <img
              #imagen2
              class="imagen"
              [@imageFade]="imageFade2"
              src="images/estado-2.jpg"
            />
            <img
              #imagen3
              class="imagen-2"
              [@imageFade]="imageFade3"
              src="images/estado-3.jpg"
            />
            <img
              #imagen4
              class="imagen-2"
              [@imageFade]="imageFade4"
              src="images/estado-4.jpg"
            />
          </div>
        </div>
      </div>

      <div class="concentracion">
        <span>Concentración de Glucosa: </span
        ><span>{{ medidaActual }}mg/dl</span>
      </div>

      <div class="estado">
        @if(!ejercicioEnProgreso){
        <div class="titulo-estado">
          Estado: <span class="buen-estado">{{ estado }}</span>
        </div>
        } @else {
        <div @fadeIn class="titulo-estado">
          Estado: <span class="mal-estado">{{ estado }}</span>
        </div>
        <div @fadeIn [@fadeIn2]="activar" class="mensaje-alerta">
          {{ mensajeAlerta }}
        </div>
        <div @fadeIn [@fadeIn2]="activar" class="mensaje-estado">
          {{ mensajeEstado }}
        </div>
        }
      </div>
    </div>
  </div>
}
<p-dialog
  [visible]="dialogResultadoVisible"
  [modal]="true"
  [ngClass]="
    dialogResultadoCorrecto
      ? 'dialog-correcto dialog-size'
      : 'dialog-error dialog-size'
  "
  [style]="{ width: '30vw', height: '70vh' }"
>
  <ng-template pTemplate="headless">
    <div class="dialog">
      <img
        style="width: 10rem"
        [src]="
          dialogResultadoCorrecto
            ? 'images/resultados/happy-face.png'
            : 'images/resultados/sad-face.png'
        "
      />
      <div class="dialog-text-container">
        <span
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-title dialog-color-correcto'
              : 'dialog-title dialog-color-error'
          "
        >
          {{ dialogResultadoCorrecto ? "Muy bien!" : "Que mal" }}</span
        >
        <span
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-text dialog-color-correcto'
              : 'dialog-text dialog-color-error'
          "
        >
          {{
            dialogResultadoCorrecto
              ? "Lograste estabilizar los niveles de glucosa"
              : "No lograste estabilizar los niveles de glucosa"
          }}
        </span>
      </div>

      <div>
        <button
          style="margin-right: 10px"
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-button dialog-button-correcto'
              : 'dialog-button dialog-button-error'
          "
          (click)="dialogResultadoVisible = false"
        >
          Ir a Inicio
        </button>
        <button
          [class]="
            dialogResultadoCorrecto
              ? 'dialog-button dialog-button-correcto'
              : 'dialog-button dialog-button-error'
          "
          (click)="dialogResultadoVisible = false"
        >
          Ir a 'En Ayuno'
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [visible]="dialogSalirVisible"
  [modal]="true"
  ngClass="dialog-salir"
  [style]="{ width: '30vw', height: '33vh' }"
>
  <ng-template pTemplate="headless">
    <div class="dialog-salir">
      <div class="dialog-text-container">
        <span class="dialog-title-2"> Seguro que deseas salir?</span>
        <span class="dialog-text">
          Si sales ahora el progreso del ejercicio se perderá
        </span>
      </div>

      <div>
        <button
          style="margin-right: 10px"
          class="dialog-button dialog-button-salir"
          (click)="resetearEjercicio(); dialogSalirVisible = false"
        >
          Salir
        </button>
        <button
          class="dialog-button dialog-button-salir"
          (click)="opcionMenuTentativa = ''; dialogSalirVisible = false"
        >
          Volver
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
