//Hacer animación de exito y fracaso con mensaje que se escribe como maquina de escribir y se ilumina o algo y algún botón para reiniciar o elegir que hacer a continuación
// Verde claro rgb(240, 255, 240) #F0FFF0
// Verde oscuro rgb(0, 88, 58) #00583A

// Rojo claro rgb(120, 0, 0)
// Rojo oscuro rgb(255, 240, 240)

//violeta aplicación #452859
//Rojo aplicación #AF0000
//Azul aplicación #0058AF
//Azul iconos #003A74
//Tinto #4A1F2A
//Turquesa iconos #00ACB8


::ng-deep .dialog-correcto .p-dialog {
  border-radius: 17px;
  color: white;
  border: 5px solid #39023c;
  background: linear-gradient(135deg, #000241, #570931);
}

::ng-deep .dialog-error .p-dialog {
  border-radius: 17px;
  color: white;
  border: 5px solid rgb(120, 0, 0);
  background: linear-gradient(135deg, #000241, #570931);
}

::ng-deep .dialog-salir .p-dialog {
  border-radius: 17px;
  color: rgb(69, 40, 89);
  background-color: rgb(250, 250, 250);
  border: 3px solid rgb(69, 40, 89);
}

::ng-deep .dialog-hormonas .p-dialog {
  border-radius: 17px;
  color: rgb(255, 240, 240);
  border: 5px solid #39023c;
  background: linear-gradient(135deg, #000241, #570931);
}

//Agregar color a los bordes

.dialog-pre-ejercicio{
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 20px;
  align-items: center;
  color: rgb(69, 40, 89);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.pre-ejercicio-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  padding: 10px 15px;
}

.pre-ejercicio-text {
  text-align: center;
  // color: white;// rgb(69, 40, 89);
}

.dialog-resultado {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px 20px;
  align-items: center;
}

.dialog-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.dialog-title {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}

.dialog-title-2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.dialog-text {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}

.dialog-button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.dialog-salir {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  align-items: center;
}

.dialog-button-salir {
  color: rgb(245, 245, 245);
  background-color: rgb(69, 40, 89);
  transition: color 0.5s, background-color 0.5s;
}

.dialog-button-salir:hover {
  color: rgb(69, 40, 89);
  border: 2px solid rgb(69, 40, 89);
  padding: 8px 13px;
  background-color: rgb(245, 245, 245);
}

.dialog-hormonas {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  align-items: center;
}


//BOTONES
.purple-button {
  color: white;
  background-color: rgb(51, 0, 90);
  border: 1px solid rgb(68, 0, 121);
  box-shadow: 1px 1px 5px rgb(68, 0, 121);
}

.red-button {
  color: white;
  background-color: rgb(146, 0, 0);
  border: 1px solid rgb(167, 0, 0);
  box-shadow: 1px 1px 5px rgb(167, 0, 0);
}

.fucsia-button {
  color: white;
  background-color: #720c41;
  border: 1px solid #991157;
  box-shadow: 1px 1px 5px #991157;
}

.blue-button {
  color: white;
  background-color: rgb(0, 38, 121);
  border: 1px solid rgb(0, 41, 163);
  box-shadow: 1px 1px 5px rgb(0, 41, 163);
}

.green-button {
  color: white;
  background-color: rgb(0, 88, 58);
  border: 1px solid rgb(0, 105, 51);
  box-shadow: 1px 1px 5px rgb(0, 105, 51);
}

.yellow-button {
  color: white;
  background-color: rgb(226, 181, 0);
  border: 1px solid rgb(255, 204, 0);
  box-shadow: 1px 1px 4px rgb(255, 204, 0);
}

.red-button, .fucsia-button, .blue-button, .green-button, .purple-button, .yellow-button {
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.purple-button:hover {
  box-shadow: 0px 0px 11px rgb(68, 0, 121);
  transform: scale(1.04);
}

.red-button:hover {
  box-shadow: 0px 0px 8px rgb(167, 0, 0);
  transform: scale(1.04);
}

.fucsia-button:hover {
  box-shadow: 0px 0px 8px #991157;
  transform: scale(1.04);
}

.blue-button:hover {
  box-shadow: 0px 0px 11px rgb(0, 41, 163);
  transform: scale(1.04);
}

.green-button:hover {
  box-shadow: 0px 0px 11px rgb(0, 105, 51);
  transform: scale(1.04);
}

.yellow-button:hover {
  box-shadow: 0px 0px 8px rgb(255, 204, 0);
  transform: scale(1.04);
}

.red-button:active, .fucsia-button:active, .blue-button:active, .green-button:active, .purple-button:active, .yellow-button:active {
  transform: translate(1.2px, 1.2px);
}