
<div class="contenedor-flex-aplicacion">
  <header class="header-ejercicio">
    <div class="left-header">
      <img class="logo-header" src="images/logo-header.jpg" />
      <span class="titulo">Homeostasis de la Glucemia</span>
    </div>

    <div class="right-header">
      <button
        [class]="opcionMenu === 'introduccion' ? 'boton-header-seleccionado' : 'boton-header'"
        (mouseover)="playAudio(audioHover)"
        (click)="playAudio(audioClick); menuSeleccionado('introduccion')"
      >
        Introducción
      </button>
      <button
        [class]="opcionMenu === 'enAyuno' ? 'boton-header-seleccionado' : 'boton-header'"
        (mouseover)="playAudio(audioHover)"
        (click)="playAudio(audioClick); menuSeleccionado('enAyuno')"
      >
        En Ayuno
      </button>
      <button
        [class]="opcionMenu === 'luegoDeAlimentarse' ? 'boton-header-seleccionado margin-r-15' : 'boton-header margin-r-15'"
        (mouseover)="playAudio(audioHover)"
        (click)="playAudio(audioClick); menuSeleccionado('luegoDeAlimentarse')"
      >
        Luego de Alimentarse
      </button>
    </div>
  </header>

  
  <footer class="footer-ejercicio">
    <img class="logo-footer-veterinarias" src="images/logo-veterinarias-1.png" />
    <img class="logo-footer" src="images/logo-unicen.png" />
  </footer>
</div>