
/***HEADER***/
.header-ejercicio {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4));
}

.left-header {
  display: flex;
  align-items: center;
}

.logo-header {
  height: 7.7vh;
  border-radius: 35px;
  margin: 0 15px;
}

.titulo {
  font-size: 25px;
  font-weight: 500;
}

.right-header{
  display: flex;
  align-items: center;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 12px 17px;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.boton-header {
  color: white;
  background-color: rgba(40, 0, 71, 0.8);
  border: 1px solid rgb(68, 0, 121);
  box-shadow: 1px 1px 5px rgb(68, 0, 121);
  transition: box-shadow 0.4s, transform 0.1s, opacity 0.5s;
}

.boton-header:hover {
  box-shadow: 0px 0px 11px rgb(68, 0, 121);
  transform: scale(1.04);
}

.boton-header:active {
  transform: translate(1.2px, 1.2px);
}

.boton-header-seleccionado {
  color: white;
  background-color: rgb(114, 12, 65, 0.8);
  border: 1px solid rgb(153, 17, 87);
  box-shadow: 1px 1px 5px rgb(153, 17, 87);
}

.boton-header-seleccionado:hover {
  box-shadow: 0px 0px 8px rgb(153, 17, 87);
  transform: scale(1.04);
}

.boton-header-seleccionado:active {
  transform: translate(1.2px, 1.2px);
}
/***END HEADER***/

//Contenido
.contenedor-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.explicacion {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.indicaciones {
  flex: 1;
  display: flex;
  justify-content: end;
}

.flecha{
  margin: 0 200px 0 0;
  width: 16.5vh;
  height: 22vh;
  min-height: 129px;
  min-width: 97px;
}

li {
  margin-left: 50px;
}

.lista-higado {
  color: rgb(175, 0, 0);
}

.lista-musculo {
  color:rgb(0, 88, 175);
}

.lista-adipositos {
  color: rgb(24, 131, 94)
}

p {
  font-size: 1.1rem;
  font-weight: 500;
}

li {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0; //revisar como se ven estos margenes en el monitor
}

ul {
  margin-top: 0; //revisar como se ven estos margenes en el monitor
}

b {
  font-size: 1.1rem;
}


/***FOOTER***/
.footer-ejercicio {
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4));
}

.logo-footer-veterinarias {
  height: 5.5vh;
  margin-right: 50px;
}

.logo-footer {
  height: 5vh;
}
/***END FOOTER***/

//1366x768 monitor
@media (max-height: 750px) {
  li, p {
    font-size: 0.95rem;
  }
}